.ment {
    background-color: black;
    height: 500px;
    color: white !important;
}
.play{
    padding-top: 30px !important;
}
.name{
    background-color: blue;
}
.temi{
    /* background-color: gray; */
    color: black!important;
    
}
.cry{
    display: flex !important;
    justify-content: space-evenly !important;
}
.wura{
    /* background-color: gray; */
    color:black!important;
}

.click{
    background-color: blue !important;
    height: auto !important;
    width:auto !important;
}

@media (max-width:768px) {
    .temi{
        margin-left: 0px !important;
    }
}